/* =============================== header =============================== */

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
        
}

.header {
    box-shadow: 0px 0px 11px 3px rgba(204,204,204,0.43);
    display: flex;
    justify-content: space-between;
}

.navbar img {
    width: 350px;
    margin-bottom: 12px;
    margin-left: 150px;
}

.links {
    margin-bottom: 12px;
    align-items: flex-end;
    display: flex;
    margin-right: 150px;
}

.links a{
    color: rgb(52, 52, 52);
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;  
    
}

.links a:hover{
    color: #016e01;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
    
}




