<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

<link rel="stylesheet" href="style.css">

<div class="footersec">
    <div class="footerimg">
        <a href="#start"><img src="./img/logo.png" class="footerimgimg"></a>
        &copy; 2022 Kochwelt AG
    </div>

    <div class="footernav">
        <div class="someicon2">
            <a href="https://www.youtube.com/" target="blank">
                <img class="someicon" src="./img/youtube-3-48.png"></a>
            <a href="https://www.instagram.com/" target="blank">
                <img class="someicon" src="./img/instagram-3-48.png"></a>
            <a href="https://de-de.facebook.com/" target="blank">
                <img class="someicon" src="./img/facebook-3-48.png"></a>
        </div>
        <div>
            <a href="./datenschutz.html">Datenschutz</a> |
            <a href="./kontakt.html">Kontakt</a> |
            <a href="./impressum.html">Impressum</a>
        </div>
    </div>
</div>