<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

<link rel="stylesheet" href="style.css">

<div class="section1">

    <div>

        <img src="./img/paella.jpg" class="section1img">

    </div>
    <div class="section1description">

        <div>
            <h1>Paella - spanisches Gericht</h1>
        </div>
        <div class="description">Eine Paella ist ein spanisches Reisgericht aus der Pfanne und das Nationalgericht der
            Region Valencia und der spanischen Ostküste. Der Begriff Paella kommt aus dem Katalanischen (um 1892) und
            hat seinen Ursprung im lateinischen Wort patella (eine Art große Platte oder flache Schüssel aus Metall).
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <form action="/rezeptfabian.html">
                <button>Rezept öffnen</button>
            </form>
        </div>
    </div>

</div>



<div class="section2">



    <div class="section2sec1">

        <h1>Lust auf was Neues?</h1>

    </div>

    <div class="section2sec2">


        <div><a href="./rezeptyener.html"><img src="./img/muchlama.jpg" class="sec2img"></a></div>

        <div><a href="./rezeptfabian.html"><img src="./img/paella.jpg" class="sec2img"></a></div>

        <div><a href="./rezeptmarie.html"><img src="./img/nudelpudding.jpg" class="sec2img"></a></div>
    </div>
    <div class="section2sec2center hidemobile">
        <div>Muchlama (Tr.Ger.)</div>
        <div>Paella (Sp.Ger.)</div>
        <div>Echter Nudelpudding</div>
    </div>






</div>

<div class="center ">
    <h1>Gas oder Holzkohle – kann man den Unterschied schmecken?</h1>
</div>


<div class="section3">

    <div class="section3sec1">
        <br>
        <div class="description">Gas oder Holzkohle – das ist hier die Frage! Beide Grillmethoden haben ihre Vor- und
            Nachteile. Wir klären über sie auf und verraten dir, ob man den Unterschied zwischen Grillgut vom Gas- oder
            Holzkohlegrill tatsächlich schmeckt!</div>
    </div>
    <div>
        <img src="./img/grill.jpg" class="sec2img">
    </div>
</div>